dash
pandas
plotly
dash-bootstrap-components
scikit-learn
sqlalchemy
psycopg2-binary
joblib
flask
gunicorn
statsmodels
dash==2.13.1
dash-bootstrap-components==1.3.1
pandas==2.1.1
plotly==5.22.0
gunicorn==21.2.0